@use '_media' as *;

html,
body {

  z-index: 1;
  position: relative;
  font-size: 16px;
  line-height: 1.5rem;
  font-family: 'Andika', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 900;
  line-height: 1.4;
  font-size: 2rem;
  color: var(--text-color);
}

h2 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 1.625rem;
}

h3 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.2;
  font-size: 1rem;
}

p {
  font-size: 1rem;
  color: var(--text-secondary-color);
}

a {
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    color: var(--cannabis-primary-color);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.container {
  width: 100%;
  max-width: $desktop-1280;
  margin: 0 auto;
  padding: 0 20px
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--cannabis-secondary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--cannabis-primary-color);
  border-radius: 6px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* Для Firefox */
* {
  scrollbar-color: var(--cannabis-primary-color) var(--cannabis-primary-color);
  scrollbar-width: thin;
}

.p-scrollpanel .p-scrollpanel-content {
  overflow: scroll;
}

.p-scrollpanel-bar {
  background-color: var(--cannabis-primary-color);
  background: var(--cannabis-primary-color);
}

::selection {
  background-color: var(--cannabis-primary-color);
  color: var(--text-color);
}

.p-scrolltop {
  background: var(--cannabis-primary-color);
}