.p-select {
  height: 40px;
  display: flex;
  align-items: center;
}

.p-select-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  padding: 0 1rem;
  color: var(--text-color);
}

.p-select-dropdown {}

.p-select-clear-icon {
  top: 50%;
  transform: translateY(-50%);
}

.p-select-list-container {
  padding: 2px;
}

.p-select-option {
  padding: 5px;

  &.p-select-option-selected {
    color: var(--text-color);
  }

  &.p-focus {
    background-color: var(--cannabis-primary-color);
  }
}

.p-select-overlay {}