/* Базові кольорові змінні для світлої теми */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --text-secondary-color: #656565;
  --primary-color: #6200ea;
  --secondary-color: #f5f5f5;
  --light-icons-color: #f3f3f3;

  --shadow-color: #121212;

  --cannabis-secondary-color: #fbebc8;
  --cannabis-primary-color: #fbbf24;
  --cannabis-green-color: #258F67;



  // prime 
  // select
  --prime-select-background: #ffffff;
  --prime-select-overlay-background: #ffffff;
  --prime-select-overlay-color: #000000;
  --prime-select-option-color: #000000;

  // toast
  --prime-toast-success-detail-color: #000000;
  --prime-toast-blur: 30px;
}


[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --text-secondary-color: #c1c1c1;
  --primary-color: #bb86fc;
  --secondary-color: #1f1f1f;
  --light-icons-color: #f3f3f3;

  --shadow-color: #d7d7d7;

  --cannabis-secondary-color: #c8d4fb;
  --cannabis-primary-color: #6893ef;
  --cannabis-green-color: #7fa194;
}